<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Guarda Tus Links</h1>
            <h3 class="mb-5">
                <em>Almacena Tus Enlaces Favoritos</em>
            </h3>
            <a class="btn btn-primary" href="/signin">Empezemos</a>
        </div>
    </header>
</main>